* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: "Poppins", sans-serif;
    
}

:root {
    --color1: green ;
    --color3: gray;
    --color2: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
    background-color: var(--color1);
}


.container {
    
    width: 50vw;
    height: 50vh;
    background-color: var(--color2);
  
    margin: 100px auto;
      
    border-radius: 10px;
      
}
    
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
      
    }
    
header img {
    height: 30px;
}
    
    
main {
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
        
}


main button {
    padding: 12;
    background-color: var(--color1);
    border-radius: 10px;
    border: none; 
    cursor: pointer;
    
    width: 15%;
    height: 40px;
}

main button img {
    width: 1.5rem;
            }
   
input {
    padding: 10px;
    font-weight: bolder;
}
.phoneData input {
    box-sizing: border-box;
    font-size: 1.3em ;
    width: 60%;
    border-radius: 10px;
    height: 40px;
}

.resultLink {
    box-sizing: border-box;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 40px;
    font-size: 1em;
}

.showedLink {

    user-select: none;
    width: 100%;
    margin-top: 2px;
    
    padding: 5px;
    border: 1px solid var(--color3);
    border-radius: 4px;
    
}

.showedMessage {
    width: 100%;
    margin: 10px;
    text-align: center;
    
}