* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --color1: green ;
    --color2: rgb(221, 211, 211);
    --color3: white;
    --color4: rgb(233, 233, 233);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color1);
}


.container { 
    width: 90%;
    max-width: 600px; 
    min-width: 300px;
    height: 50vh;
    background-color: var(--color3);
    margin: 20px;
    padding: 20px; 
    border-radius: 10px;
      
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
      
    }
    
header img {
    height: 30px;
}

    
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;           
}

main button {
    padding: 10px;
    margin: 2px;
    background-color: var(--color1);
    border-radius: 10px;
    border: none; 
    cursor: pointer;
}

main button img {
    width: 1.5rem;
            }
   
input {
    flex: 1; 
    padding: 10px;
    height: 50px;
    border-radius: 10px;
    font-size: 1.3em ;
}

.phoneData {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;   
}

.resultLink {
    width: 100%;
    margin-top: 10px;

}

.showedLink {
    user-select: none;
    width: 100%;
    padding: 5px;
    background-color: var(--color4);
    border: 1px solid var(--color2);
    border-radius: 4px;
    
}

.showedMessage {
    width: 100%;
    margin: 10px;
    text-align: center;
    font-weight: 600;
    
}